<!DOCTYPE html>
<html>

<head>
    <!--icon cdn-->
    <script src="https://kit.fontawesome.com/e7e5439d34.js" crossorigin="anonymous"></script>
    <!--meta required-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!--linking the CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Alert.css') }}">
    <title>Alert</title>
</head>

<body>
    <div class="body">
        <div class="navbar-container" style="margin: 0px; padding:0px;">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="myNavbar" style="height: 66px;
            width: 100%;">
                <div class="d-flex flex-grow-1">
                    <span class="w-100 d-lg-none d-block">
                        <!-- hidden spacer to center brand on mobile --></span>
                    <a style="color: white;" class="navbar-brand" href="#">
                        Farmer's Friend
                    </a>
                    <div class="w-100 text-right">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </div>
                <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
                    <ul class="navbar-nav ml-auto flex-nowrap">
                        <li class="nav-item">
                            <a href="{{url_for('home')}}" class="nav-link "><strong>Home</strong></a>
                        </li>
                        <li class="nav-item">
                            <a href="{{url_for('schemes_test')}}" class="nav-link"><strong>Scheme</strong></a>
                        </li>
                        <li class="nav-item">
                            <a href="{{url_for('add_scheme')}}" class="nav-link active"><strong>Add Schemes</strong></a>
                        </li>
                        <li class="nav-item">
                            <a href="{{url_for('alerts')}}" class="nav-link"><strong>Alert</strong></a>
                        </li>
                        <li class="nav-item">
                            <a href="#team" class="nav-link"><strong>Grievances</strong></a>
                        </li>
                        <li class="nav-item">
                            <a href="{{url_for('log_out')}}" class="nav-link">Log Out</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <h1>Alert</h1>
        <div class="container" id="Alert">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset>
                    <label class="label" for="Subject"><b>{{ form.subject.label(class="Subject") }}</b></label>
                    <div>
                        {{ form.subject(id="Subject") }}
                    </div>
                    <label class="label" for="Details"><b>{{ form.details.label( class="Details")}}</b></label>
                    <div>
                        {{ form.details(id="Details") }}
                    </div>
                    <label class="label" for="Specifics"><b>{{ form.specifics.label( class="Specifics")}}</b></label>
                    <div>
                        {{ form.specifics(id="Specifics") }}
                    </div>
                    <label class="label" for="Severity"><b>{{ form.severity.label( class="Severity")}}</b></label>
                    <div>
                        {{ form.severity(id="Severity") }}
                    </div>
                    <br>
                </fieldset>
                <div>
                    {{ form.submit.label( class="button" ,style="font-size:20px;")}}
                    <br>
                  {{ form.submit(class="but1") }}
                </div>
                <br>
            </form>
</body>

</html>