<!DOCTYPE html>
<html>

<head>
	<!--icon cdn-->
	<script src="https://kit.fontawesome.com/e7e5439d34.js" crossorigin="anonymous"></script>
	<!--meta required-->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--Bootstrap-->
	<link rel="stylesheet" type="text/css"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<!--linking the CSS -->
	<!-- <link rel="stylesheet" type="text/css" href="FarmersFriendSchemes.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/FarmersFriendSchemes.css') }}">
	<title>farmers friend schemes</title>
</head>

<body>
	<div class="bgd">
		<div class="navbar-container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light" id="myNavbar">
				<div class="d-flex flex-grow-1">
					<span class="w-100 d-lg-none d-block">
						<!-- hidden spacer to center brand on mobile --></span>
					<a class="navbar-brand" href="#">
						Navbar 7
					</a>
					<div class="w-100 text-right">
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
							<span class="navbar-toggler-icon"></span>
						</button>
					</div>
				</div>
				<div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
					<ul class="navbar-nav ml-auto flex-nowrap">
						<li class="nav-item">
							<a href="#" class="nav-link active">Home</a>
						</li>
						<li class="nav-item">
							<a href="#about" class="nav-link">Alerts</a>
						</li>
						<li class="nav-item">
							<a href="#our projects" class="nav-link">Authorisation</a>
						</li>
						<li class="nav-item">
							<a href="#events" class="nav-link">Grievances</a>
						</li>
						<li class="nav-item">
							<a href="#team" class="nav-link">Forum</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link">Govt. Schemes</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<h1>Government Schemes</h1>
		<div class="container" id="id1">
			<h3>Soil Health Card Scheme</h3>
			<p>Launched in 2015, the scheme has been introduced to assist State Governments to issue Soil Health Cards
				to all farmers in the country.  The Soil Health Cards provide information to farmers on nutrient status
				of their soil along with recommendation on appropriate dosage of nutrients to be applied for improving
				soil health and its fertility. </p>
			<div class="but1" id="button">
				<button onclick="cont_delete"><i class="far fa-window-close"></i></button>
			</div>
		</div>
		<div class="container" id="id2">
			<h3>Pradhan Mantri Fasal Bima Yojana (PMFBY)</h3>
			<p>PMFBY is an actuarial premium based scheme under which farmer has to pay maximum premium of 2% for
				Kharif, 1.5% for Rabi food & oilseed crops and 5% for annual commercial/horticultural crops and
				remaining part of the actuarial/bidded premium is shared equally by the Centre and State Government. One
				of the objectives of the scheme is to facilitate prompt claims settlement. The claims must be settled
				within two months of harvest subject to timely provision of both yield data and share of premium subsidy
				by the State Government.</p>
			<div class="but2" id="button">
				<button onclick="cont_delete"><i class="far fa-window-close"></i></button>
			</div>
		</div>
		<div class="container" id="id1">
			<h3>Neem Coated Urea (NCU)</h3>
			<p>This scheme is initiated to regulate use of urea, enhance availability of nitrogen to the crop and reduce
				cost of fertilizer application.  NCU slows down the release of fertilizer and makes it available to the
				crop in an effective manner. The entire quantity of domestically manufactured and imported urea is now
				neem coated. It reduces the cost of cultivation and improves soil health management. </p>
			<div class="but3" id="button">
				<button onclick="cont_delete"><i class="far fa-window-close"></i></button>
			</div>
		</div>
		<div class="container" id="id2">
			<h3>Pradhan Mantri Krishi Sinchai Yojana (PMKSY)</h3>
			<p>It was launched on 1st July, 2015 with the motto of ‘Har Khet Ko Paani’ for providing end-to end
				solutions in irrigation supply chain, viz. water sources, distribution network and farm level
				applications.

				PMKSY not only focuses on creating sources for assured irrigation, but also creating protective
				irrigation by harnessing rain water at micro level through ‘Jal Sanchay’ and ‘Jal Sinchan’.

				Micro irrigation is to be popularised to ensure ‘Per drop-More crop’. PMKSY adopts State level planning
				and projectised execution that allows States to draw up their own irrigation development based on
				District Irrigation Plans and State Irrigation Plans.

				<ul>Components:
					<ol>
						<li>Accelerated Irrigation Benefit Programme(AIBP): implemented by Ministry of Water Resources,
							RD & GR.</li>

						<li>PMKSY (Har Khet ko Pani): implemented by Ministry of Water Resources, RD & GR</li>

						<li>PMKSY (Watershed): implemented by Department of Land Resources.</li>

						<li>PMKSY(Per Drop More Crop - PDMC)</li>
					</ol>
				</ul>
			</p>
			<div class="but4" id="button">
				<button onclick="cont_delete"><i class="far fa-window-close"></i></button>
			</div>
		</div>
		<div class="container" id="id1">
			<h3>Paramparagat Krishi Vikas Yojana (PKVY)</h3>
			<p>It is implemented with a view to promote organic farming in the country. To improve soil health and
				organic matter content and increase net income of the farmer so as to realise premium prices. Under this
				scheme, an area of 5 lakh acre is targeted to be covered though 10,000 clusters of 50 acre each, from
				the year 2015-16 to 2017-18. </p>
			<div class="but5" id="button">
				<button onclick="cont_delete"><i class="far fa-window-close"></i></button>
			</div>
		</div>
		<div class="container" id="id2">
			<h3>National Agriculture Market (e-NAM) </h3>
			<p>It provides e-marketing platform at national level and support creation of infrastructure to enable
				e-marketing.

				This innovative market process is revolutionizing agriculture markets by ensuring better price
				discovery. It brings in transparency and competition to enable farmers to get improved remuneration for
				their produce moving towards ‘One Nation One Market’.  </p>
			<div class="but6" id="button">
				<button onclick="cont_delete"><i class="far fa-window-close"></i></button>
			</div>
		</div>
		<div class="container" id="id1">
			<h3>Micro Irrigation Fund (MIF) </h3>
			<p>A dedicated MIF created with NABARD has been approved with an initial corpus of Rs. 5000 crore (Rs. 2000
				crore for 2018-19 & Rs. 3000 crore for 2019-20) for encouraging public and private investments in Micro
				irrigation. The main objective of the fund is to facilitate the States in mobilizing the resources for
				expanding coverage of Micro Irrigation.

				MIF would not only facilitate States in incentivizing and mobilizing resources for achieving the target
				envisaged under PMKSY-PDMC but also in bringing additional coverage through special and innovative
				initiatives by State Governments.

				An Advisory Committee has been set up to provide policy direction and ensure effective planning,
				coordination and monitoring of the Micro Irrigation Fund. </p>
			<div class="but7" id="button">
				<button onclick="cont_delete"><i class="far fa-window-close"></i></button>
			</div>
		</div>
		<div class="container" id="id2">
			<h3>Agriculture Contingency Plan </h3>
			<p>Central Research Institute for Dryland Agriculture (CRIDA), ICAR has prepared district level Agriculture
				Contingency Plans in collaboration with state agricultural universities using a standard template to
				tackle aberrant monsoon situations leading to drought and floods, extreme events (heat waves, cold
				waves, frost, hailstorms, cyclone) adversely affecting crops, livestock and fisheries (including
				horticulture).

				Total 614 district agriculture contingency plans are placed in the ‘farmer portal’ of the Ministry of
				Agriculture and Farmers Welfare, Government of India (http://www.farmer.gov.in) and also in the ICAR /
				CRIDA website (http://www.crida.in) for downloading the full plan by stakeholders for operational use.
			</p>
			<div class="but8" id="button">
				<button onclick="cont_delete"><i class="far fa-window-close"></i></button>
			</div>
		</div>
		<div class="container" id="id1">
			<h3>Rainfed Area Development Programme (RADP)</h3>
			<p>Rainfed Area Development Programme (RADP) was implemented as a sub-scheme under Rashtriya Krishi Vikas
				Yojana (RKVY).<br>
				<strong>Aim</strong>
				<ul>
					<li>To improve quality of life of farmers’ especially, small and marginal farmers by offering a
						complete package of activities to maximize farm returns.</li>

					<li>Increasing agricultural productivity of rainfed areas in a sustainable manner by adopting
						appropriate farming system based approaches.</li>

					<li>To minimise the adverse impact of possible crop failure due to drought, flood or un-even
						rainfall distribution through diversified and composite farming system.</li>

					<li>Restoration of confidence in rainfed agriculture by creating sustained employment opportunities
						through improved on-farm technologies and cultivation practices</li>

					<li>Enhancement of farmer’s income and livelihood support for reduction of poverty in rainfed areas
					</li>
				</ul>
			</p>
			<div class="but9" id="button">
				<button onclick="cont_delete"><i class="far fa-window-close"></i></button>
			</div>
		</div>
		<div class="container" id="id2">
			<h3>National Watershed Development Project for Rainfed Areas (NWDPRA)</h3>
			<p>The scheme of National Watershed Development Project for Rainfed Areas (NWDPRA) was launched in 1990-91
				based on twin concepts of integrated watershed management and sustainable farming systems.<br>

				<strong>Aim</strong>
				<ol>
					<li>Conservation, development and sustainable management of natural resources.</li>

					<li>Enhancement of agricultural production and productivity in a sustainable manner.</li>

					<li>Restoration of ecological balance in the degraded and fragile rainfed eco-systems by greening
						these areas through appropriate mix of trees, shrubs and grasses.</li>

					<li>Reduction in regional disparity between irrigated and rainfed areas</li>

					<li>Creation of sustained employment opportunities for the rural community including the landless.
					</li>
				</ol>
			</p>
			<div class="but10" id="button">
				<button onclick="cont_delete"><i class="far fa-window-close"></i></button>
			</div>
		</div>
		<div class="container" id="id1">
			<h3>National Mission for Sustainable Agriculture (NMSA)</h3>
			<p>
				NMSA is one of the eight Missions under National Action Plan on Climate Change (NAPCC). It aims at
				promoting Sustainable Agriculture through climate change adaptation measures, enhancing agriculture
				productivity especially in rainfed areas focusing on integrated farming, soil health management, and
				synergizing resource conservation.

				NMSA as a programmatic intervention caters to Mission Deliverables that focuses mainly on conservation
				agriculture to make farm sector more productive, sustainable, remunerative and climate resilient by
				promoting location specific integrated/composite farming systems.
				<ul>
					<li>Rainfed Area Development (RAD): RAD is being implemented by RFS Division.</li>
					<li>Soil Health Management (SHM): SHM is being implemented by INM Division</li>
					<li>Sub Mission on Agro Forestry (SMAF): SMAF is being implemented by NRM Division</li>
					<li>Paramparagat Krishi Vikas Yojana (PKVY): PKVY is being implemented by INM Division</li>
					<li>Soil and Land Use Survey of India (SLUSI): Being implemented by RFS Division</li>
					<li>National Rainfed Area Authority (NRAA): Being implemented by RFS Division</li>
					<li>Mission Organic Value Chain Development in North Eastern Region (MOVCDNER): Being implemented by
						INM Division</li>
					<li>National Centre of Organic Farming (NCOF): Being implemented by INM Division</li>
					<li>Central Fertilizer Quality Control and Training Institute (CFQC&TI): implemented by INM Division
					</li>
				</ul>
			</p>
			<div class="but11" id="button">
				<button onclick="cont_delete"><i class="far fa-window-close"></i></button>
			</div>
		</div>
		<div class="container" id="id2">
			<h3> Livestock insurance Scheme</h3>
			<p>It aims to provide protection mechanism to the farmers and cattle rearers against any eventual loss of
				animals due to death. The scheme also demonstrates the benefit of the insurance of livestock to the
				people and popularizes it with the ultimate goal of attaining qualitative improvement in livestock and
				their products. </p>
			<div class="but12" id="button">
				<button onclick="cont_delete"><i class="far fa-window-close"></i></button>
			</div>
		</div>
		<div class="container" id="id1">
			<h3> National Scheme on Welfare of Fishermen</h3>
			<p>This scheme was launched to provide financial assistance to fishers for construction of house, community
				hall for recreation and common working place. It also aims to install tube-wells for drinking water and
				assistance during lean period through saving cum relief component. </p>
			<div class="but13" id="button">
				<button onclick="cont_delete"><i class="far fa-window-close"></i></button>
			</div>
		</div>
		<div class="container" id="id2">
			<h3>Scheme on Fisheries Training and Extension</h3>
			<p>It was launched to provide training for fishery sector so as to assist in undertaking fisheries extension
				programmes effectively. </p>
			<div class="but14" id="button">
				<button onclick="cont_delete"><i class="far fa-window-close"></i></button>
			</div>
		</div>
		<div class="container" id="id1">
			<h3>Gramin Bhandaran Yojna</h3>
			<p>Objective of this Scheme:
				<ul>
					<li>Create scientific storage capacity with allied facilities in rural areas.</li>
					<li>To meet the requirements of farmers for storing farm produce, processed farm produce and
						agricultural inputs.</li>
					<li>Promotion of grading, standardization and quality control of agricultural produce to improve
						their marketability.</li>
					<li>Prevent distress sale immediately after harvest by providing the facility of pledge financing
						and marketing credit by strengthening agricultural marketing infrastructure in the country.</li>
				</ul>
			</p>
			<div class="but15" id="button">
				<button onclick="cont_delete"><i class="far fa-window-close"></i></button>
			</div>
		</div>
		<div class="container" id="Info">
			<h3> Enter New Schemes</h3>
			<form method="POST" action="">
				{{ form.hidden_tag() }}
				<fieldset>
					<label for="SchemeName"><b>Scheme Name</b></label>
					<div>
						{{ form.name.label(class="SchemeName") }}
						<!-- {{ form.name.label() }} -->
						{{ form.name }}
					</div>
					<label for="SchemeInfo"><b>Scheme Information</b></label>
					<div>
						{{ form.details.label( class="SchemeInfo")}}
						{{ form.details }}
					</div>
				</fieldset>
				<div>
					{{ form.submit() }}
				</div>

			</form>
		</div>

	</div>
</body>

</html>