<!DOCTYPE html>
<html>

<head>
    <!--icon cdn-->
    <script src="https://kit.fontawesome.com/e7e5439d34.js" crossorigin="anonymous"></script>
    <!--meta required-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap-->
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!--linking the CSS -->
    <link rel="stylesheet" type="text/css" href="farmers friend schemes.css">
    <title>Sample</title>
</head>

<body>
    <h1>Sample Form</h1>
    <br>
    <form class="form_input" style="margin-left: 100px" method="POST" action="">

        <label for="SchemeName"><b>Scheme Name</b></label><br>
        <input type="text" placeholder="Enter the Scheme Name" name="SchemeName" style="height: 50px ;width: 500px">
        <br>
        <label for="SchemeInfo"><b>Scheme Information</b></label><br>
        <input type="text" placeholder="Enter the Scheme Information" name="SchemeInfo"
            style="height: 400px ; width: 500px">
        <br>

        <button style="margin-top: 10px ; width: 100px">submit</button>
    </form>
</body>

</html>